.s_card
{
    background: rgba(255, 255, 255, 0);
    .s-content{
        // padding: 0px 146px 0px 145px;
    }

    img
{
    transform: scale(0.2);
    position: absolute;
    top: -12rem;
    left: 0;
}
p
{
color: white;
    font-weight: 600;
    position: absolute;
    top: 12rem;
    left: -126px;
    padding: 0px 72px 1px 228px;
    font-size: 14px;
}
h3
{
   color: #fff;
    position: absolute;
    top: 17vh;
    left: 14vw;

}
}

@media screen and (max-width: 576px)
{
  .s_card
  {
    p
    {
        visibility: hidden;
    }
    img
    {
        transform: scale(0.17);
        left: -5em;
    }
    h3
    {
       
        top: 17vh;
        left: 0vw;
        font-size: 7vw;
        padding: 36px;
       
    
    }
  }
}