
.skills {
  width: 100%;
  height: 105vh;
  // background: var(--page_bg);
  background:  linear-gradient(
    192.07deg,
    #000000 23.53%,
    #08010c 39.56%,
    #0a000f 74.94%,
    #000000 117.21%,
    #000000 117.21%
  );
  display: flex;
  flex-direction: column;
  // position: absolute;
  overflow: hidden;
  
}
.text
{
  position: absolute;
  display: flex;
  width: 100%;
}

