//*GRADIENTS
$landing_page_bg: linear-gradient(
  192.07deg,
  #000000 23.53%,
  #08010c 39.56%,
  #0a000f 74.94%,
  #000000 117.21%,
  #000000 117.21%
);
$l_page_compo_bg: linear-gradient(
  180deg,
  #5c27b8 0%,
  #3e1c79 26.57%,
  #251345 52.09%,
  #12022d 100%
);
$h_btn: linear-gradient(
  259.22deg,
  #5d00ff 30.97%,
  #411194 53.52%,
  rgba(51, 0, 139, 0.6) 86.08%
);
//*GRADIENTS

//*SOLID COLORS
$l_page_text: #cecad0;
$l_page_html_tx: rgba(95, 0, 169, 0.48);

//*SOLID COLORS

.home {
  display: flex;
  width: 100%;
  height: 100vh;
  background: $landing_page_bg;
  background-size: 400% 400%;
  color: white;

  .home_text {
    display: flex;

    .txt {
      color: $l_page_text;
      font-weight: bold;
      font-size: 5rem;
      position: absolute;
      display: flex;
    }
    .greet {
      top: 9.5rem;
      left: 6rem;
    }
    .name {
      top: 15rem;
      left: 6rem;

      &:nth-child(1) {
        color: var(--page_name_tx);
        position: relative;
        top: 0;
        left: 3rem;
      }
    }
    .title {
      top: 21rem;
      left: 6rem;
    overflow: hidden;
      &::after
      {
        content: "Developer";
        color:#5d00ff;
        display: inline-block;
        position: relative;
        left: 2rem;
        animation: textAnimation 7s steps(15) infinite;
        width: 0ch;
      }
      &::before
      {
        display: inline-block;
        content: "";
        width:2px;
        height: 100%;
        background: rgb(255, 255, 255);
        position: absolute;
        right: 2px;
        animation: blinking .4s linear alternate infinite;
      }
    
    }
     .subTxt
     {
      position: relative;
      left: 2rem;
       color: var(--page_name_tx);
     }
  }
}
.hire_btn {
  position: absolute;
  width: 8rem;
  height: 2rem;
  background: rgba(255, 0, 0, 0);
  border-radius: 30px;
  border: 4px solid white;
  top: 31rem;
  left: 6rem;
  color: var(--page_name_tx);
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    background: $h_btn;
    color: white;
  }
}
.home_compo {
  width: 100px;
  height: 100px;
  background: $l_page_compo_bg;
  border-radius: 50%;
  position: absolute;
  top: 8rem;
  left: 40rem;
  opacity: 0.5;
  .react {
    transform: scale(0.9);
  }
}
.home_compo2 {
  @extend .home_compo;
  top: 16rem;
  left: 50rem;

  .html {
    transform: scale(0.7);
  }
}
.social {
  position: absolute;
  top: 25rem;
  display: flex;
  flex-direction: column;
  left: 65rem;
  gap: 10px;
  .icon {
    cursor: pointer;
    transform: scale(0.7);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradient {
  position: absolute;
  --size: 450px;
  --speed: 50s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(
    hsla(265, 100%, 15%, 0.323),
    hsla(271, 100%, 18%, 0.317)
  );
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

@media (min-width: 720px) {
  .gradient {
    --size: 500px;
  }
}


@keyframes textAnimation {
  25% {
    content: "Developer";
    width: 9.5ch;
  }
  40% {
    width: 0ch;
  }
  75% {
    content: "Designer";
    width: 8ch;
  }
  90% {
    width: 0ch;
  }
}
@keyframes blinking {
  100%{
   opacity: 0;
  }
}