  //*GRADIENTS
  $landing_page_bg:linear-gradient(192.07deg, #000000 23.53%, #08010C 39.56%, #0A000F 74.94%, #000000 117.21%, #000000 117.21%);
  $l_page_compo_bg:linear-gradient(180deg, #5C27B8 0%, #3E1C79 26.57%, #251345 52.09%, #12022D 100%);
  
 //*GRADIENTS
  
    //*SOLID COLORS
  
  $l_page_html_react_bg: #A28DAC;
  $l_page_text:#CECAD0;
  $l_page_html_tx: rgba(95, 0, 169, 0.48);
  
    //*SOLID COLORS

    
  
.home
{
  display: flex;
  width: 100%;
  height: 100vh;
  background: $landing_page_bg;
  background-size: 400% 400%;
  color: white;
	
  .home_text
  {
     display: flex;

     .html
     {
      position: absolute;
      color: $l_page_html_tx;
      font-weight: 500;
      font-size: 1.2rem;
     }
      .body
      {
        top: 65px;
        left: 40px;
      }
      .h1
      {
        top: 100px;
        left: 75px;
      }
     
     .txt
     {
       color: $l_page_text;
       font-weight: bold;
       font-size: 7rem;
       position: absolute;
     }
     .greet
     {
      top: 8rem;
      left: 6rem;
     }
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradient {
  position: absolute;
  --size: 450px;
  --speed: 50s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(hsla(265, 100%, 15%, 0.323), hsla(271, 100%, 18%, 0.317));
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

@media (min-width: 720px) {
  .gradient {
    --size: 500px;
  }
}
