$c_btn: linear-gradient(
  259.22deg,
  #5d00ff 30.97%,
  #411194 53.52%,
  rgba(51, 0, 139, 0.6) 86.08%
);
$c_btn_hvr: linear-gradient(
  259.25deg,
  #faf7ff 30.98%,
  #e2d1ff 74.55%,
  rgba(255, 255, 255, 0.6) 137.48%
);

.navbar {
  display: flex;
  width: 100vw;
  height:3.5em;
  position: fixed;
  z-index: 1;

  display: flex;

  
  .nav-txt {
    color: white;
    font-weight: bold;
    position: relative;
    top: 2vh;
    left: 4vw;
    font-size: 2.4vw;
    cursor: pointer;
  }

  .nav-link {
    color: white;
    position: absolute;
    
    left: 30vw;
    font-size: 1.3vw;
    font-weight: bold;
    top: 0em;

    ul {
      display: flex;
      gap: 4rem;
      text-decoration: none;
      list-style: none;

      a {
        color: white;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.blur
  {
  backdrop-filter: blur(12px);

  }

.n-line {
  width: 90vw;
  position: absolute;
  height: 1px;
  background: rgb(255, 255, 255);
  top: 3.5rem;
  left: 3rem;
}

.c-btn {
  border: none;
  width: 100px;
  height: 2.5em;
  background: $c_btn;
  color: white;
  font-weight: bold;
  position: relative;
  float: right;
  left: 24vw;
  bottom: 6vh;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: $c_btn_hvr;
    color: var(--page_name_tx);
  }
}

.t-btn {
  position: absolute;
  left: 0rem;
  opacity: 0;
  pointer-events: none;
}
//!MEDIA QUERIES
@media screen and (max-width: 576px) {
  .navbar {
    width: 100vw !important;
    // backdrop-filter: none !important ;
    position: fixed !important;
    z-index: 5;
   
  }
  .t-btn {
    opacity: 1;
    pointer-events: all;
    z-index: 4;
  }
  .collapse {
    // position: fixed !important;
    width: 100vw !important;
    height: 100vh !important;
    left: 0rem;
    position: absolute !important;
    z-index: 3;
    backdrop-filter: blur(12px) !important ;

    pointer-events: none;
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }
  .active {
    opacity: 1;
    pointer-events: all;
  }
  .nav-txt {
    left: 20rem !important;
    font-size: 1.3rem !important;
    visibility: hidden;
  }
  .c-btn {
    background: #78484800;
    left: -0.2rem !important;
    top: 2rem !important;
    font-size: 24px !important;
    cursor: pointer;
    &:hover {
      background: none !important;
      color: white;
    }
  }
  .n-line {
    width: 100vw !important;
    left: 0rem !important;
  }
  .nav-link {
    left: 35vw !important;
    font-size: 24px !important;
    top: 5rem !important;
    text-align: center;
    ul {
      padding: 0 !important;
      gap: 4rem !important;
      transition: all 0.4s ease-in-out;

      flex-direction: column !important;
    }
  }
}
