.card
{
  width: 240px;
  height: 320px;
  // background: red;
  border-radius: 5px;

img
{
  width: 100%;
  border-radius: 5px;
  
}
.c_txt
{
  text-align: center;
  justify-content: center;
  position:relative;
  top:7px;

}
.c_desc
{
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  top: 36px;
  left: -8px;
  padding: 0px 8px 6px 27px;
}
}