@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');
body
{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar {
    display: none;
  }
:root
{

--page_name_tx:#640DFB;
--page_bg:  linear-gradient(6.01deg, #000001 13.98%, #1a0037  45.92%, #20004a   90.31%);;




}


//!PROJECT PAGE

$p_btn: #5D00FF;

//!PROJECT PAGE

//!SERVICES PAGE

$service_div:#7203FF;

